apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: /certs/ca/ca.pem
    # All containers share the same network namespace
    # Communication happens via localhost (127.0.0.1)
    server: https://127.0.0.1:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: admin
  name: admin@kubernetes
current-context: admin@kubernetes
users:
- name: admin
  user:
    client-certificate: /certs/kubernetes/admin.crt
    client-key: /certs/kubernetes/admin.key

