apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority-data: {{ ca_cert_data }}
    # Use ZeroTier IP for external access to the API server
    server: https://{{ zt_ip }}:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubernetes-admin
  name: kubernetes-admin@kubernetes
current-context: kubernetes-admin@kubernetes
users:
- name: kubernetes-admin
  user:
    client-certificate-data: {{ admin_cert_data }}
    client-key-data: {{ admin_key_data }}
