kind: KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
address: 0.0.0.0
port: 10250
readOnlyPort: 0
nodeName: {{ instance_id }}
authentication:
  anonymous:
    enabled: false
  webhook:
    enabled: true
    cacheTTL: 2m0s
  x509:
    clientCAFile: /certs/ca/ca.pem
authorization:
  mode: Webhook
  webhook:
    cacheAuthorizedTTL: 5m0s
    cacheUnauthorizedTTL: 30s
clusterDomain: {{ cluster_name }}
clusterDNS:
  - {{ dns_address }}
resolvConf: /etc/resolv.conf
runtimeRequestTimeout: 5m
tlsCertFile: /certs/kubernetes/kubelet.crt
tlsPrivateKeyFile: /certs/kubernetes/kubelet.key
cgroupDriver: systemd
cgroupsPerQOS: false
containerRuntimeEndpoint: unix:///var/4lock-agent/cri.sock
imageServiceEndpoint: unix:///var/4lock-agent/cri.sock
failSwapOn: false
enableCAdvisorJSONEndpoints: false
enableSystemLogHandler: false
enableSystemLogQuery: false
healthzBindAddress: 0.0.0.0
healthzPort: 10248
maxPods: 250
registerNode: true
nodeStatusReportFrequency: 5s
nodeStatusUpdateFrequency: 5s
syncFrequency: 30s
staticPodPath: /etc/kubernetes/manifests
volumePluginDir: /usr/libexec/kubernetes/kubelet-plugins/volume/exec/
serializeImagePulls: false
maxParallelImagePulls: 20
registryPullQPS: 20
registryBurst: 40
imageGCHighThresholdPercent: 85
imageGCLowThresholdPercent: 80
imageMinimumGCAge: 2m
eventRecordQPS: 50
eventBurst: 100
kubeAPIQPS: 100
kubeAPIBurst: 200
evictionHard:
  memory.available: "100Mi"
  nodefs.available: "10%"
  imagefs.available: "10%"
evictionSoft:
  memory.available: "200Mi"
  nodefs.available: "15%"
  imagefs.available: "15%"
evictionSoftGracePeriod:
  memory.available: "30s"
  nodefs.available: "2m"
  imagefs.available: "2m"
evictionMaxPodGracePeriod: 30
evictionPressureTransitionPeriod: 30s
systemReserved:
  cpu: 200m
  memory: 200Mi
  ephemeral-storage: 1Gi
kubeReserved:
  cpu: 200m
  memory: 200Mi
  ephemeral-storage: 1Gi
enforceNodeAllocatable: []
cpuManagerPolicy: none
cpuCFSQuota: true
cpuCFSQuotaPeriod: 100ms
podPidsLimit: 4096
featureGates:
  RotateKubeletServerCertificate: false
  KubeletInUserNamespace: true
