apiVersion: v1
clusters:
- cluster:
    certificate-authority: /certs/ca/ca.pem
    # All containers share the same network namespace
    # Communication happens via localhost (127.0.0.1)
    server: https://127.0.0.1:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: system:node:{{ instance_id }}
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: system:node:{{ instance_id }}
  user:
    client-certificate: /certs/kubernetes/kubelet.crt
    client-key: /certs/kubernetes/kubelet.key
